html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:145px;}
.cont{z-index:1;pointer-events:none;border:0;background-image:url(../images/2-960.jpg);background-color:rgb(173,49,39);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.size-2{width:100%;min-width:960px;min-height:9px;height:9px;}
.cont-2{z-index:3;border:0;background-color:rgb(139,39,31);}
.pos-2{position:relative;margin-top:-9px;}
.vis-2{display:block;vertical-align:top;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.size-3{min-width:960px;width:960px;min-height:145px;}
.cont-3{z-index:2;border:0;background-image:url(../images/wechatimg80-960.jpg);background-color:rgb(255,235,137);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-4{position:relative;margin-left:35px;margin-top:104px;}
.size-4{min-width:905px;width:905px;min-height:41px;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.size-5{min-width:43px;width:43px;min-height:41px;height:41px;}
.cont-5{z-index:4;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;font-size:18px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:36px;letter-spacing:normal;text-shadow:none;}
.pos-5{position:relative;margin-left:18px;margin-top:3px;}
.size-6{min-width:7px;width:7px;min-height:33px;height:33px;}
.cont-6{z-index:5;pointer-events:auto;}
.font-2{font-family:"Arial Unicode MS", sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:28px;letter-spacing:normal;text-shadow:none;}
.pos-6{position:relative;margin-left:18px;margin-top:1px;}
.size-7{min-width:100px;width:100px;min-height:40px;}
.colwrapper{line-height:0;}
.size-8{min-width:100px;width:100px;min-height:40px;height:40px;}
.cont-7{z-index:8;pointer-events:auto;}
.pos-7{position:relative;margin-left:93px;margin-top:-38px;}
.cont-8{z-index:10;pointer-events:auto;}
.pos-8{position:relative;margin-left:19px;margin-top:1px;}
.size-9{min-width:82px;width:82px;min-height:39px;height:39px;}
.cont-9{z-index:9;pointer-events:auto;}
.pos-9{position:relative;margin-left:14px;margin-top:3px;}
.pos-10{position:relative;margin-left:17px;margin-top:1px;}
.size-10{min-width:105px;width:105px;min-height:39px;}
.size-11{min-width:105px;width:105px;min-height:39px;height:39px;}
.cont-10{z-index:7;pointer-events:auto;}
.pos-11{position:relative;margin-left:98px;margin-top:-37px;}
.cont-11{z-index:12;pointer-events:auto;}
.pos-12{position:relative;margin-left:15px;margin-top:0;}
.size-12{min-width:87px;width:87px;min-height:41px;height:41px;}
.font-3{font-family:"PingFang SC", sans-serif;font-size:18px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:36px;letter-spacing:normal;text-shadow:none;}
.pos-13{position:relative;margin-left:295px;margin-top:4px;}
.size-13{min-width:78px;width:78px;min-height:28px;height:28px;}
.cont-12{z-index:13;pointer-events:auto;}
.font-4{font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;font-size:14px;font-weight:700;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(255,235,137);background-color:initial;line-height:28px;letter-spacing:0.12px;text-shadow:none;}
.pos-14{position:relative;margin-top:1px;}
.cont-13{z-index:14;pointer-events:none;border:0;background-color:rgb(204,204,204);}
.pos-15{position:relative;margin-top:7px;}
.section-2{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-16{position:relative;margin-left:-1px;margin-top:0;}
.size-14{min-width:960px;width:960px;min-height:833px;}
.cont-14{z-index:15;border:1px dashed rgb(204,204,204);background-color:transparent;}
.pos-17{position:relative;margin-left:8px;margin-top:13px;}
.size-15{min-width:944px;width:944px;min-height:811px;}
.size-16{min-width:555px;width:555px;min-height:811px;}
.pos-18{position:relative;margin-left:4px;margin-top:0;}
.size-17{min-width:546px;width:546px;min-height:183px;height:183px;}
.cont-15{z-index:16;pointer-events:auto;}
.img{position:absolute;left:0;width:546px;height:183px;top:0;border:0;}
.img-2{left:0;width:546px;height:183px;top:0;display:inline-block;}
.pos-19{position:relative;margin-left:0;margin-top:5px;}
.size-18{min-width:555px;width:555px;min-height:623px;height:623px;}
.cont-16{z-index:19;pointer-events:auto;}
.img-3{position:absolute;left:0;width:555px;height:622px;top:1px;border:0;}
.img-4{left:0;width:555px;height:622px;top:1px;display:inline-block;}
.pos-20{position:relative;margin-left:6px;margin-top:0;}
.size-19{min-width:383px;width:383px;min-height:798px;}
.size-20{min-width:383px;width:383px;min-height:361px;height:361px;}
.cont-17{z-index:17;pointer-events:auto;}
.img-5{position:absolute;left:3px;width:378px;height:361px;top:0;border:0;}
.img-6{left:3px;width:378px;height:361px;top:0;display:inline-block;}
.pos-21{position:relative;margin-left:120px;margin-top:-206px;}
.size-21{min-width:205px;width:205px;min-height:27px;height:27px;}
.cont-18{z-index:18;pointer-events:auto;}
.input{border:1px solid transparent;background-color:transparent;padding:4px;width:205px;height:27px;font-family:"Helvetica Neue", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);line-height:22px;letter-spacing:normal;text-shadow:none;text-indent:0;padding-right:0;text-align:left;}
.pos-22{position:relative;margin-left:120px;margin-top:-155px;}
.size-22{min-width:198px;width:198px;min-height:18px;height:18px;}
.cont-19{z-index:20;pointer-events:auto;}
.input-2{border:1px solid transparent;background-color:transparent;padding:4px;width:198px;height:18px;font-family:"Helvetica Neue", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);line-height:22px;letter-spacing:normal;text-shadow:none;text-indent:0;padding-right:0;text-align:left;}
.pos-23{position:relative;margin-left:120px;margin-top:-104px;}
.size-23{min-width:66px;width:66px;min-height:27px;height:27px;}
.cont-20{z-index:21;pointer-events:auto;}
.input-3{border:1px solid transparent;background-color:transparent;padding:4px;width:66px;height:27px;font-family:"Helvetica Neue", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);line-height:22px;letter-spacing:normal;text-shadow:none;text-indent:0;padding-right:0;text-align:left;}
.pos-24{position:relative;margin-left:-72px;margin-top:-56px;}
.size-24{min-width:121px;width:121px;min-height:39px;}
.cont-21{z-index:22;pointer-events:auto;}
.button{border:0;background-color:transparent;}
.button:hover{background-color:transparent;border-color:rgb(223,223,223);color:transparent;}
.button:active{background-color:rgba(0,0,0,0.5);border-color:rgb(223,223,223);color:transparent;}
.vis-4{display:inline-block;overflow:hidden;outline:0;}
.size-25{width:121px;height:0;}
.font-5{padding-top:19px;padding-bottom:20px;margin-top:0;margin-bottom:0;line-height:0;}
.pos-26{position:relative;margin-left:21px;margin-top:7px;}
.size-26{min-width:338px;width:338px;min-height:430px;height:430px;}
.cont-22{z-index:23;pointer-events:auto;}
.img-7{position:absolute;left:0;width:338px;height:430px;top:0;border:0;}
.img-8{left:0;width:338px;height:430px;top:0;display:inline-block;}
.pos-27{position:relative;margin-top:12px;}
.size-27{width:100%;min-width:960px;min-height:125px;}
.cont-23{z-index:25;pointer-events:none;border-top:1px solid rgb(223,223,223);border-bottom:1px solid rgb(223,223,223);background-color:rgb(241,241,241);}
.pos-28{position:relative;margin-top:23px;}
.pos-29{position:relative;margin-left:25px;margin-top:0;}
.size-28{min-width:864px;width:864px;min-height:91px;}
.size-29{min-width:78px;width:78px;min-height:33px;height:33px;}
.cont-24{z-index:26;pointer-events:auto;}
.font-6{font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:30px;letter-spacing:normal;text-shadow:none;}
.font-7{font-family:"PingFang SC", sans-serif;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:29px;letter-spacing:normal;text-shadow:none;}
.pos-30{position:relative;margin-left:18px;margin-top:0;}
.size-30{min-width:768px;width:768px;min-height:91px;height:91px;}
.cont-25{z-index:27;pointer-events:auto;}
.font-8{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.font-9{font-family:"Arial Unicode MS", sans-serif;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:28px;letter-spacing:normal;text-shadow:none;}
.font-10{font-family:"PingFang SC", sans-serif;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:29px;letter-spacing:normal;text-shadow:none;}
.pos-31{position:relative;margin-top:-12px;}
.size-31{width:100%;min-width:960px;min-height:80px;}
.cont-26{z-index:24;pointer-events:none;border:0;background-color:rgb(241,241,241);}
.pos-32{position:relative;margin-top:18px;}
.pos-33{position:relative;margin-left:383px;margin-top:0;}
.size-32{min-width:195px;width:195px;min-height:49px;}
.pos-34{position:relative;margin-left:5px;margin-top:0;}
.size-33{min-width:184px;width:184px;min-height:29px;height:29px;}
.cont-27{z-index:28;pointer-events:auto;}
.font-11{font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:21px;letter-spacing:normal;text-shadow:none;}
.font-12{font-family:"PingFang SC", sans-serif;font-size:13px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.font-13{font-family:"Arial Unicode MS", sans-serif;font-size:13px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(128,128,128);background-color:initial;line-height:24px;letter-spacing:normal;text-shadow:none;}
.pos-35{position:relative;margin-left:0;margin-top:-5px;}
.size-34{min-width:195px;width:195px;min-height:25px;height:25px;}
.cont-28{z-index:29;pointer-events:auto;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont{background-image:url(../images/2-1920.jpg);}
.cont-3{background-image:url(../images/wechatimg80-1920.jpg);background-size:cover;}
}
@media (min-width:960px) {
.cont{background-image:url(../images/2-1200.jpg);}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/2-2400.jpg);}
}
@media (min-width:1200px) {
.cont{background-image:url(../images/2-1600.jpg);}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/2-3200.jpg);}
}
@media (min-width:1600px) {
.cont{background-image:url(../images/2-2000.jpg);}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/2-4000.jpg);}
}
.cont-29{z-index:1;pointer-events:none;border:0;background-color:rgb(139,39,31);}
.cont-30{z-index:2;pointer-events:none;border:0;background-image:url(../images/2-960.jpg);background-color:rgb(173,49,39);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-31{z-index:3;border:0;background-image:url(../images/wechatimg80-960.jpg);background-color:rgb(255,235,137);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-32{z-index:11;pointer-events:auto;}
.size-35{min-width:962px;width:962px;min-height:1126px;}
.size-36{min-width:960px;width:960px;min-height:1087px;}
.cont-33{z-index:17;border:1px dashed rgb(204,204,204);background-color:transparent;}
.pos-36{position:relative;margin-left:569px;margin-top:13px;}
.size-37{min-width:383px;width:383px;min-height:361px;}
.cont-34{z-index:24;pointer-events:auto;}
.cont-35{z-index:25;pointer-events:auto;}
.pos-37{position:relative;margin-left:5px;margin-top:-1075px;}
.size-38{min-width:563px;width:563px;min-height:1112px;}
.size-39{min-width:563px;width:563px;min-height:800px;height:800px;}
.img-9{position:absolute;left:7px;width:549px;height:800px;top:0;border:0;}
.img-10{left:7px;width:549px;height:800px;top:0;display:inline-block;}
.pos-38{position:relative;margin-left:5px;margin-top:-51px;}
.size-40{min-width:554px;width:554px;min-height:363px;height:363px;}
.cont-36{z-index:15;pointer-events:auto;}
.img-11{position:absolute;left:0;width:554px;height:262px;top:51px;border:0;}
.img-12{left:0;width:554px;height:262px;top:51px;display:inline-block;}
.pos-39{position:relative;margin-top:-24px;}
.cont-37{z-index:19;pointer-events:none;border-top:1px solid rgb(223,223,223);border-bottom:1px solid rgb(223,223,223);background-color:rgb(241,241,241);}
.pos-40{position:relative;margin-left:20px;margin-top:0;}
.cont-38{z-index:18;pointer-events:none;border:0;background-color:rgb(241,241,241);}
.pos-41{position:relative;margin-left:378px;margin-top:0;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-30{background-image:url(../images/2-1920.jpg);}
.cont-31{background-image:url(../images/wechatimg80-1920.jpg);background-size:cover;}
}
@media (min-width:960px) {
.cont-30{background-image:url(../images/2-1200.jpg);}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont-30{background-image:url(../images/2-2400.jpg);}
}
@media (min-width:1200px) {
.cont-30{background-image:url(../images/2-1600.jpg);}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-30{background-image:url(../images/2-3200.jpg);}
}
@media (min-width:1600px) {
.cont-30{background-image:url(../images/2-2000.jpg);}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.cont-30{background-image:url(../images/2-4000.jpg);}
}
.size-41{min-width:962px;width:962px;min-height:3386px;}
.size-42{min-width:960px;width:960px;min-height:3384px;}
.cont-39{z-index:16;border:1px dashed rgb(204,204,204);background-color:transparent;}
.pos-42{position:relative;margin-left:12px;margin-top:10px;}
.size-43{min-width:935px;width:935px;min-height:861px;}
.size-44{min-width:935px;width:935px;min-height:861px;height:861px;}
.img-13{position:absolute;left:0;width:935px;height:857px;top:2px;border:0;}
.img-14{left:0;width:935px;height:857px;top:2px;display:inline-block;}
.pos-43{position:relative;margin-left:90px;margin-top:-794px;}
.size-45{min-width:197px;width:197px;min-height:24px;}
.size-46{min-width:153px;width:153px;min-height:24px;height:24px;}
.input-4{border:1px solid transparent;background-color:transparent;padding:4px;width:153px;height:24px;font-family:"Helvetica Neue", sans-serif;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);line-height:22px;letter-spacing:normal;text-shadow:none;text-indent:0;padding-right:0;text-align:left;}
.pos-44{position:relative;margin-left:5px;margin-top:1px;}
.size-47{min-width:39px;width:39px;min-height:22px;}
.size-48{width:39px;height:0;}
.font-14{padding-top:11px;padding-bottom:11px;margin-top:0;margin-bottom:0;line-height:0;}
.pos-45{position:relative;margin-left:13px;margin-top:2px;}
.size-49{min-width:935px;width:935px;min-height:2500px;}
.pos-46{position:relative;margin-left:3px;margin-top:0;}
.size-50{min-width:928px;width:928px;min-height:1756px;}
.size-51{min-width:928px;width:928px;min-height:853px;height:853px;}
.img-15{position:absolute;left:12px;width:905px;height:853px;top:0;border:0;}
.img-16{left:12px;width:905px;height:853px;top:0;display:inline-block;}
.pos-47{position:relative;margin-left:11px;margin-top:-66px;}
.size-52{min-width:904px;width:904px;min-height:969px;height:969px;}
.img-17{position:absolute;left:0;width:904px;height:840px;top:65px;border:0;}
.img-18{left:0;width:904px;height:840px;top:65px;display:inline-block;}
.pos-48{position:relative;margin-left:0;margin-top:-62px;}
.size-53{min-width:935px;width:935px;min-height:806px;height:806px;}
.img-19{position:absolute;left:16px;width:903px;height:806px;top:0;border:0;}
.img-20{left:16px;width:903px;height:806px;top:0;display:inline-block;}
.pos-49{position:relative;margin-left:14px;margin-top:-3370px;}
.size-54{min-width:931px;width:931px;min-height:3355px;height:3355px;}
.cont-40{z-index:15;border:1px solid rgb(204,204,204);background-color:transparent;}
.pos-50{position:relative;margin-top:13px;}
.cont-41{z-index:18;pointer-events:none;border-top:1px solid rgb(223,223,223);border-bottom:1px solid rgb(223,223,223);background-color:rgb(241,241,241);}
.pos-51{position:relative;margin-left:24px;margin-top:0;}
.cont-42{z-index:17;pointer-events:none;border:0;background-color:rgb(241,241,241);}
.pos-52{position:relative;margin-left:382px;margin-top:0;}
.cont-43{z-index:8;pointer-events:none;border:0;background-image:url(../images/2-960.jpg);background-color:rgb(173,49,39);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-44{z-index:10;border:0;background-color:rgb(139,39,31);}
.cont-45{z-index:9;border:0;background-image:url(../images/wechatimg80-960.jpg);background-color:rgb(255,235,137);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-46{z-index:14;pointer-events:auto;}
.cont-47{z-index:7;pointer-events:none;border:0;background-color:rgb(204,204,204);}
.size-55{min-width:960px;width:960px;min-height:874px;}
.cont-48{z-index:1;border:1px dashed rgb(204,204,204);background-color:transparent;}
.pos-53{position:relative;margin-left:9px;margin-top:3px;}
.size-56{min-width:235px;width:235px;min-height:28px;height:28px;}
.font-15{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:20px;letter-spacing:normal;text-shadow:none;}
.pos-54{position:relative;margin-left:8px;margin-top:-1px;}
.size-57{min-width:940px;width:940px;min-height:811px;}
.size-58{min-width:150px;width:150px;min-height:295px;}
.size-59{min-width:150px;width:150px;min-height:38px;}
.button-2{border:1px solid rgb(223,223,223);background-color:rgb(249,249,249);}
.button-2:hover{background-color:transparent;border-color:transparent;color:rgb(0,0,0);}
.button-2:active{background-color:rgb(231,52,34);border-color:transparent;color:rgb(255,255,255);}
.size-60{width:148px;height:20px;}
.font-16{font-family:"Arial Unicode MS", sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(96,96,96);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:19px;text-align:left;padding-top:8px;padding-bottom:8px;margin-top:0;margin-bottom:0;}
.pos-55{position:relative;margin-left:129px;margin-top:-23px;}
.size-61{min-width:8px;width:8px;min-height:9px;height:9px;}
.img-21{position:absolute;left:0;width:8px;height:9px;top:0;border:0;}
.img-22{left:0;width:8px;height:9px;top:0;display:inline-block;}
.pos-56{position:relative;margin-left:0;margin-top:-2px;}
.cont-49{z-index:2;pointer-events:auto;}
.pos-57{position:relative;margin-left:0;margin-top:-1px;}
.cont-50{z-index:3;pointer-events:auto;}
.cont-51{z-index:30;pointer-events:auto;}
.cont-52{z-index:6;pointer-events:auto;}
.cont-53{z-index:31;pointer-events:auto;}
.cont-54{z-index:32;pointer-events:auto;}
.cont-55{z-index:33;pointer-events:auto;}
.pos-58{position:relative;margin-left:129px;margin-top:-24px;}
.cont-56{z-index:34;pointer-events:auto;}
.pos-59{position:relative;margin-left:12px;margin-top:0;}
.size-62{min-width:776px;width:776px;min-height:809px;}
.cont-57{z-index:22;border:1px solid rgb(128,128,128);background-color:transparent;}
.pos-60{position:relative;margin-left:7px;margin-top:9px;}
.size-63{min-width:762px;width:762px;min-height:776px;}
.size-64{min-width:762px;width:762px;min-height:776px;height:776px;}
.img-23{position:absolute;left:3px;width:756px;height:776px;top:0;border:0;}
.img-24{left:3px;width:756px;height:776px;top:0;display:inline-block;}
.pos-61{position:relative;margin-left:181px;margin-top:-245px;}
.size-65{min-width:212px;width:212px;min-height:31px;}
.cont-58{z-index:37;border:0;background-color:rgb(255,255,255);}
.pos-62{position:relative;margin-left:4px;margin-top:2px;}
.size-66{min-width:60px;width:60px;min-height:29px;height:29px;}
.cont-59{z-index:41;pointer-events:auto;}
.font-17{font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(71,26,23);background-color:initial;line-height:21px;letter-spacing:normal;text-shadow:none;}
.pos-63{position:relative;margin-left:-212px;margin-top:-197px;}
.cont-60{z-index:42;border:0;background-color:rgb(255,255,255);}
.pos-64{position:relative;margin-left:1px;margin-top:6px;}
.size-67{min-width:142px;width:142px;min-height:25px;height:25px;}
.cont-61{z-index:43;pointer-events:auto;}
.font-18{font-family:"Helvetica Neue", sans-serif;font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:24px;letter-spacing:normal;text-shadow:none;}
.pos-65{position:relative;margin-top:21px;}
.cont-62{z-index:36;pointer-events:none;border-top:1px solid rgb(223,223,223);border-bottom:1px solid rgb(223,223,223);background-color:rgb(241,241,241);}
.cont-63{z-index:38;pointer-events:auto;}
.cont-64{z-index:39;pointer-events:auto;}
.cont-65{z-index:35;pointer-events:none;border:0;background-color:rgb(241,241,241);}
.cont-66{z-index:40;pointer-events:auto;}
.cont-67{z-index:44;pointer-events:auto;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-43{background-image:url(../images/2-1920.jpg);}
.cont-45{background-image:url(../images/wechatimg80-1920.jpg);background-size:cover;}
}
@media (min-width:960px) {
.cont-43{background-image:url(../images/2-1200.jpg);}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont-43{background-image:url(../images/2-2400.jpg);}
}
@media (min-width:1200px) {
.cont-43{background-image:url(../images/2-1600.jpg);}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-43{background-image:url(../images/2-3200.jpg);}
}
@media (min-width:1600px) {
.cont-43{background-image:url(../images/2-2000.jpg);}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.cont-43{background-image:url(../images/2-4000.jpg);}
}
.cont-68{z-index:4;border:0;background-color:rgb(139,39,31);}
.cont-69{z-index:2;pointer-events:none;border:0;background-color:rgb(204,204,204);}
.size-68{min-width:960px;width:960px;min-height:607px;}
.cont-70{z-index:51;pointer-events:auto;}
.size-69{min-width:942px;width:942px;min-height:551px;}
.cont-71{z-index:52;pointer-events:auto;}
.cont-72{z-index:53;pointer-events:auto;}
.cont-73{z-index:54;pointer-events:auto;}
.cont-74{z-index:55;pointer-events:auto;}
.cont-75{z-index:46;pointer-events:auto;}
.cont-76{z-index:56;pointer-events:auto;}
.cont-77{z-index:48;pointer-events:auto;}
.cont-78{z-index:57;pointer-events:auto;}
.cont-79{z-index:49;pointer-events:auto;}
.cont-80{z-index:58;pointer-events:auto;}
.cont-81{z-index:50;pointer-events:auto;}
.cont-82{z-index:59;pointer-events:auto;}
.cont-83{z-index:60;pointer-events:auto;}
.cont-84{z-index:61;pointer-events:auto;}
.size-70{min-width:776px;width:776px;min-height:549px;height:549px;}
.cont-85{z-index:16;border:1px solid rgb(128,128,128);background-color:transparent;}
.pos-66{position:relative;margin-left:165px;margin-top:-541px;}
.size-71{min-width:777px;width:777px;min-height:533px;}
.size-72{min-width:777px;width:777px;min-height:533px;height:533px;}
.img-25{position:absolute;left:9px;width:758px;height:533px;top:0;border:0;}
.img-26{left:9px;width:758px;height:533px;top:0;display:inline-block;}
.pos-67{position:relative;margin-left:223px;margin-top:-472px;}
.size-73{min-width:529px;width:529px;min-height:55px;}
.pos-68{position:relative;margin-left:0;margin-top:3px;}
.size-74{min-width:47px;width:47px;min-height:20px;height:20px;}
.cont-86{z-index:20;border:0;background-color:rgb(255,255,255);}
.pos-69{position:relative;margin-left:-46px;margin-top:0;}
.size-75{min-width:61px;width:61px;min-height:32px;height:32px;}
.font-19{font-family:"Arial Unicode MS", sans-serif;font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:26px;letter-spacing:normal;text-shadow:none;}
.pos-70{position:relative;margin-left:307px;margin-top:4px;}
.cont-87{z-index:25;border:0;background-color:rgb(255,255,255);}
.pos-71{position:relative;margin-left:371px;margin-top:-32px;}
.size-76{min-width:158px;width:158px;min-height:55px;}
.size-77{min-width:22px;width:22px;min-height:28px;height:28px;}
.pos-72{position:relative;margin-left:0;margin-top:1px;}
.size-78{min-width:158px;width:158px;min-height:20px;height:20px;}
.cont-88{z-index:27;border:0;background-color:rgb(255,255,255);}
.pos-73{position:relative;margin-left:1px;margin-top:-20px;}
.size-79{min-width:157px;width:157px;min-height:26px;height:26px;}
.font-20{font-family:"Helvetica Neue", sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-74{position:relative;margin-left:223px;margin-top:-415px;}
.size-80{min-width:84px;width:84px;min-height:24px;}
.size-81{min-width:81px;width:81px;min-height:24px;height:24px;}
.font-21{font-family:Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:24px;letter-spacing:normal;text-shadow:none;}
.pos-75{position:relative;margin-left:0;margin-top:-23px;}
.size-82{min-width:84px;width:84px;min-height:20px;height:20px;}
.cont-89{z-index:29;border:0;background-color:rgb(255,255,255);}
.pos-76{position:relative;margin-left:-84px;margin-top:-390px;}
.size-83{min-width:142px;width:142px;min-height:54px;}
.size-84{min-width:128px;width:128px;min-height:28px;}
.pos-77{position:relative;margin-left:1px;margin-top:0;}
.size-85{min-width:35px;width:35px;min-height:28px;height:28px;}
.cont-90{z-index:37;pointer-events:auto;}
.pos-78{position:relative;margin-left:0;margin-top:-25px;}
.size-86{min-width:128px;width:128px;min-height:20px;height:20px;}
.cont-91{z-index:35;border:0;background-color:rgb(255,255,255);}
.size-87{min-width:142px;width:142px;min-height:27px;height:27px;}
.cont-92{z-index:30;border:0;background-color:rgb(255,255,255);}
.pos-79{position:relative;margin-left:-144px;margin-top:-247px;}
.size-88{min-width:128px;width:128px;min-height:25px;}
.cont-93{z-index:40;border:0;background-color:rgb(255,255,255);}
.pos-80{position:relative;margin-left:2px;margin-top:-20px;}
.size-89{min-width:61px;width:61px;min-height:25px;height:25px;}
.cont-94{z-index:62;pointer-events:auto;}
.pos-81{position:relative;margin-left:244px;margin-top:-219px;}
.size-90{min-width:128px;width:128px;min-height:26px;}
.cont-95{z-index:33;border:0;background-color:rgb(255,255,255);}
.size-91{min-width:77px;width:77px;min-height:26px;height:26px;}
.cont-96{z-index:42;pointer-events:auto;}
.pos-82{position:relative;margin-left:222px;margin-top:-106px;}
.size-92{min-width:500px;width:500px;min-height:27px;}
.size-93{min-width:86px;width:86px;min-height:27px;height:27px;}
.cont-97{z-index:45;pointer-events:auto;}
.pos-83{position:relative;margin-left:-85px;margin-top:0;}
.cont-98{z-index:43;border:0;background-color:rgb(255,255,255);}
.pos-84{position:relative;margin-left:243px;margin-top:0;}
.size-94{min-width:83px;width:83px;min-height:25px;height:25px;}
.cont-99{z-index:34;border:0;background-color:rgb(255,255,255);}
.pos-85{position:relative;margin-left:223px;margin-top:-76px;}
.size-95{min-width:159px;width:159px;min-height:38px;}
.size-96{min-width:135px;width:135px;min-height:38px;height:38px;}
.cont-100{z-index:47;pointer-events:auto;}
.font-22{font-family:"Arial Unicode MS", sans-serif;font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:16px;letter-spacing:normal;text-shadow:none;}
.pos-86{position:relative;margin-left:0;margin-top:-38px;}
.size-97{min-width:159px;width:159px;min-height:33px;height:33px;}
.cont-101{z-index:36;border:0;background-color:rgb(255,255,255);}
.pos-87{position:relative;margin-top:17px;}
.cont-102{z-index:15;pointer-events:none;border:0;background-color:rgb(204,204,204);}
.size-98{min-width:940px;width:940px;min-height:551px;}
.cont-103{z-index:35;pointer-events:auto;}
.cont-104{z-index:36;pointer-events:auto;}
.size-99{min-width:776px;width:776px;min-height:549px;}
.pos-88{position:relative;margin-left:11px;margin-top:1px;}
.size-100{min-width:758px;width:758px;min-height:263px;}
.size-101{min-width:758px;width:758px;min-height:263px;height:263px;}
.img-27{position:absolute;left:0;width:758px;height:250px;top:7px;border:0;}
.img-28{left:0;width:758px;height:250px;top:7px;display:inline-block;}
.pos-89{position:relative;margin-left:249px;margin-top:-63px;}
.size-102{min-width:258px;width:258px;min-height:32px;}
.button-3{border:0;background-color:transparent;}
.button-3:hover{background-color:transparent;border-color:rgb(0,0,0);color:transparent;}
.button-3:active{background-color:transparent;border-color:rgb(0,0,0);color:transparent;}
.size-103{width:258px;height:0;}
.font-23{padding-top:16px;padding-bottom:16px;margin-top:0;margin-bottom:0;line-height:0;}
.cont-105{z-index:20;pointer-events:none;border-top:1px solid rgb(223,223,223);border-bottom:1px solid rgb(223,223,223);background-color:rgb(241,241,241);}
.pos-90{position:relative;margin-left:9px;margin-top:8px;}
.size-104{min-width:760px;width:760px;min-height:247px;}
.size-105{min-width:760px;width:760px;min-height:247px;height:247px;}
.img-29{position:absolute;left:2px;width:757px;height:247px;top:0;border:0;}
.img-30{left:2px;width:757px;height:247px;top:0;display:inline-block;}
.pos-91{position:relative;margin-left:207px;margin-top:-79px;}
.size-106{min-width:182px;width:182px;min-height:62px;}
.size-107{min-width:171px;width:171px;min-height:52px;height:52px;}
.cont-106{z-index:23;border:0;background-color:rgb(255,255,255);}
.pos-92{position:relative;margin-left:2px;margin-top:-21px;}
.size-108{min-width:179px;width:179px;min-height:31px;height:31px;}
.font-24{font-family:Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(231,52,34);background-color:initial;line-height:24px;letter-spacing:normal;text-shadow:none;}
.pos-93{position:relative;margin-left:3px;margin-top:-60px;}
.font-25{font-family:"Arial Unicode MS", sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(231,52,34);background-color:initial;line-height:28px;letter-spacing:normal;text-shadow:none;}
.cont-107{z-index:12;pointer-events:none;border:0;background-color:rgb(204,204,204);}
.size-109{min-width:941px;width:941px;min-height:552px;}
.pos-94{position:relative;margin-left:13px;margin-top:1px;}
.pos-95{position:relative;margin-left:10px;margin-top:5px;}
.size-110{min-width:758px;width:758px;min-height:243px;}
.size-111{min-width:758px;width:758px;min-height:243px;height:243px;}
.img-31{position:absolute;left:0;width:758px;height:236px;top:3px;border:0;}
.img-32{left:0;width:758px;height:236px;top:3px;display:inline-block;}
.pos-96{position:relative;margin-left:232px;margin-top:-93px;}
.size-112{min-width:185px;width:185px;min-height:30px;}
.pos-97{position:relative;margin-left:0;margin-top:2px;}
.size-113{min-width:171px;width:171px;min-height:24px;height:24px;}
.cont-108{z-index:31;border:0;background-color:rgb(255,255,255);}
.pos-98{position:relative;margin-left:2px;margin-top:-26px;}
.size-114{min-width:183px;width:183px;min-height:30px;height:30px;}
.font-26{font-family:Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(227,54,37);background-color:initial;line-height:24px;letter-spacing:normal;text-shadow:none;}
.pos-99{position:relative;margin-left:-171px;margin-top:-48px;}
.size-115{min-width:263px;width:263px;min-height:36px;}
.size-116{width:263px;height:0;}
.font-27{padding-top:18px;padding-bottom:18px;margin-top:0;margin-bottom:0;line-height:0;}
.pos-100{position:relative;margin-left:3px;margin-top:-33px;}
.size-117{min-width:260px;width:260px;min-height:33px;}
.size-118{min-width:260px;width:260px;min-height:32px;height:32px;}
.cont-109{z-index:25;border:0;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(71,26,23)), color-stop(1, rgb(138,47,45)));background-image:-o-linear-gradient(top, rgb(71,26,23) 0%, rgb(138,47,45) 100%);background-image:-webkit-linear-gradient(top, rgb(71,26,23) 0%, rgb(138,47,45) 100%);background-image:-ms-linear-gradient(top, rgb(71,26,23) 0%, rgb(138,47,45) 100%);background-image:linear-gradient(to top, rgb(71,26,23) 0%, rgb(138,47,45) 100%);background-clip:padding-box;}
.pos-101{position:relative;margin-left:37px;margin-top:-32px;}
.size-119{min-width:196px;width:196px;min-height:33px;height:33px;}
.font-28{font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:30px;letter-spacing:normal;text-shadow:none;}
.pos-102{position:relative;margin-left:12px;margin-top:12px;}
.size-120{min-width:756px;width:756px;min-height:519px;}
.size-121{min-width:756px;width:756px;min-height:519px;height:519px;}
.img-33{position:absolute;left:0;width:756px;height:467px;top:26px;border:0;}
.img-34{left:0;width:756px;height:467px;top:26px;display:inline-block;}
.pos-103{position:relative;margin-left:230px;margin-top:-397px;}
.size-122{min-width:160px;width:160px;min-height:27px;}
.size-123{min-width:160px;width:160px;min-height:27px;height:27px;}
.pos-104{position:relative;margin-left:0;margin-top:-26px;}
.size-124{min-width:154px;width:154px;min-height:20px;height:20px;}
.pos-105{position:relative;margin-left:-166px;margin-top:-368px;}
.size-125{min-width:60px;width:60px;min-height:35px;}
.size-126{min-width:60px;width:60px;min-height:20px;height:20px;}
.cont-110{z-index:22;border:0;background-color:rgb(255,255,255);}
.pos-106{position:relative;margin-left:5px;margin-top:-18px;}
.size-127{min-width:53px;width:53px;min-height:33px;height:33px;}
.font-29{font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:21px;letter-spacing:normal;text-shadow:none;}
.pos-107{position:relative;margin-left:-53px;margin-top:-301px;}
.size-128{min-width:113px;width:113px;min-height:27px;}
.font-30{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:23px;letter-spacing:normal;text-shadow:none;}
.pos-108{position:relative;margin-left:0;margin-top:-24px;}
.size-129{min-width:113px;width:113px;min-height:18px;height:18px;}
.cont-111{z-index:28;border:0;background-color:rgb(204,204,204);}
.pos-109{position:relative;margin-left:-113px;margin-top:-261px;}
.size-130{min-width:113px;width:113px;min-height:25px;}
.cont-112{z-index:30;border:0;background-color:rgb(204,204,204);}
.pos-110{position:relative;margin-left:3px;margin-top:-18px;}
.pos-111{position:relative;margin-left:-112px;margin-top:-224px;}
.size-131{min-width:238px;width:238px;min-height:20px;}
.cont-113{z-index:33;border:0;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(248,248,248)), color-stop(1, rgb(248,248,248)));background-image:-o-linear-gradient(bottom, rgb(248,248,248) 0%, rgb(248,248,248) 100%);background-image:-webkit-linear-gradient(bottom, rgb(248,248,248) 0%, rgb(248,248,248) 100%);background-image:-ms-linear-gradient(bottom, rgb(248,248,248) 0%, rgb(248,248,248) 100%);background-image:linear-gradient(to bottom, rgb(248,248,248) 0%, rgb(248,248,248) 100%);background-clip:padding-box;}
.pos-112{position:relative;margin-left:2px;margin-top:2px;}
.size-132{min-width:230px;width:230px;min-height:18px;height:18px;}
.pos-113{position:relative;margin-left:10px;margin-top:10px;}
.size-133{min-width:756px;width:756px;min-height:528px;}
.size-134{min-width:756px;width:756px;min-height:528px;height:528px;}
.img-35{position:absolute;left:0;width:756px;height:446px;top:41px;border:0;}
.img-36{left:0;width:756px;height:446px;top:41px;display:inline-block;}
.pos-114{position:relative;margin-left:230px;margin-top:-393px;}
.cont-114{z-index:18;border:0;background-color:rgb(255,255,255);}
.pos-115{position:relative;margin-left:-166px;margin-top:-361px;}
.size-135{min-width:60px;width:60px;min-height:33px;}
.cont-115{z-index:19;border:0;background-color:rgb(255,255,255);}
.pos-116{position:relative;margin-left:5px;margin-top:-20px;}
#body-2{background-color:rgb(248,248,248);}
.pos-117{position:relative;margin-top:-145px;}
.size-136{width:100%;min-width:960px;min-height:172px;height:172px;}
.cont-116{z-index:15;pointer-events:none;border:0;background-color:rgb(248,248,248);}
.pos-118{position:relative;margin-top:-32px;}
.pos-119{position:relative;margin-left:82px;margin-top:0;}
.size-137{min-width:797px;width:797px;min-height:598px;height:598px;}
.img-37{position:absolute;left:0;width:797px;height:598px;top:0;border:0;}
.img-38{left:0;width:797px;height:598px;top:0;display:inline-block;}
.pos-120{position:relative;margin-top:-592px;}
